<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.st_peter_hq.instrumple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Instrumple">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KeyboardActivity"
            android:label="@string/keyboard_text"
            android:parentActivityName="com.example.st_peter_hq.instrumple.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.st_peter_hq.instrumple.Home" />
        </activity>

        <activity
            android:name=".StringsActivity"
            android:label="@string/strings_text"
            android:parentActivityName="com.example.st_peter_hq.instrumple.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.st_peter_hq.instrumple.Home" />
        </activity>

        <activity
            android:name=".PercussionActivity"
            android:label="@string/percussion_text"
            android:parentActivityName="com.example.st_peter_hq.instrumple.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.st_peter_hq.instrumple.Home" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>